---
import { Image } from "astro:assets";
import logo from '../../public/img/logo.png';
---

<nav class="px-4 lg:px-32 pt-4 md:pt-10 flex justify-between items-center relative z-10">
  <div class="flex items-center space-x-2 md:space-x-4">
    <div class="relative w-[30px] h-[30px] md:w-[40px] md:h-[40px]">
      <Image src={logo} alt="logo" class="object-cover" />
    </div>
    <h1 class="text-xl md:text-3xl font-extrabold">THEOYOTH</h1>
  </div>
  <div>
    <a href="mailto:theobantang1@gmail.com?subject=Feedback" class="max-w-max text-lime-400 bg-blue-600 selection:bg-lime-400 selection:text-white text-lg md:text-xl font-bold p-2 rounded-md">
      📧 Reach me out
    </a>
  </div>
</nav>